@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body{
  font-family: 'Urbanist', sans-serif;
    overflow: auto;
    background-color:lightblue;
    color: black;
}

.image{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
    
}

a{
    text-decoration: none;
    color:black;
    font-size: 20px;

}

a:hover{
    color: white;
    transition: 0.2s ease-in;
}

.tab{
    border: 5px double whitesmoke;
}

hr{
    
    border: 1px solid white;
}

.title{
    
    text-align: center;
}